.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.top-left {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.top-middle {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.top-right {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
