<div class="container">
  <div class="top-header">
    <div class="top-left">
      <h2>Stores</h2>
      <h2>Gift Cards</h2>
      <h2>Business Outfitters</h2>
    </div>
    <div class="top-middle">
      <h2>FREE SHIPPING ON $75+ ORDERS</h2>
    </div>
    <div class="top-right">
      <h2>Call or Text 1-800-963-4816</h2>
      <h2>SHIP TO (flag)</h2>
      <h2>HELP</h2>
    </div>
  </div>
  <div class="main-header">
    <div class="main-top">
      <h1>LANDS END</h1>
      <input type="text" name="" value="Find something new.">
      <div class="main-right">
        <div class="account">
          Hi, Sign in MY ACCOUNT
        </div>
        <h2>BAG bag</h2>
      </div>
    </div>
    <div class="main-bottom">
      <h3>WOMEN</h3>
      <h3>MEN</h3>
      <h3>KIDS</h3>
      <h3>SWIM</h3>
      <h3>BAGS</h3>
      <h3>OUTWEWEAR</h3>
      <h3>SCHOOL</h3>
      <h3>HOME</h3>
      <h3>NEW</h3>
      <h3>SALE</h3>
    </div>
  </div>
</div>
