
  <div class="top-header">
    <div class="top-left">
      <p>Stores</p>
      <p>Gift Cards</p>
      <p>Business Outfitters</p>
    </div>
    <div class="top-middle">
      <p>FREE SHIPPING ON $75+ ORDERS</p>
    </div>
    <div class="top-right">
      <p>Call or Text 1-800-963-4816</p>
      <p>SHIP TO (flag)</p>
      <p>HELP</p>
    </div>
  </div>
  <div class="main-header">
    <div class="main-top">
      <h1 class="logo">LANDS END</h1>
      <input class="input" type="text" name="" value="Find something new.">
      <div class="main-right">
        <div class="account">
          Hi, Sign in <br> MY ACCOUNT
        </div>
        <h2>BAG bag</h2>
      </div>
    </div>
    <div class="main-bottom">
      <!-- <h3 (mouseover)="hover()"><a href="#">WOMEN</a></h3>
      <h3><a href="#">MEN</a></h3>
      <h3><a href="#">KIDS</a></h3>
      <h3><a href="#">SWIM</a></h3>
      <h3><a href="#">BAGS</a></h3>
      <h3><a href="#">OUTWEWEAR</a></h3>
      <h3><a href="#">SCHOOL</a></h3>
      <h3><a href="#">HOME</a></h3>
      <h3><a href="#">NEW</a></h3>
      <h3><a href="#">SALE</a></h3> -->
      <ul>
        <li>
          WOMEN<br>
          <div class="women-subnav">
            <ul>
              <li><strong><a href="#">Womens clothing</a></strong></li><hr>
              <li><a href="#">Activewear</a></li>
              <li><a href="#">Coats & Jackets</a></li>
              <li><a href="#">Dresses</a></li>
              <li><a href="#">Fleece</a></li>
              <li><a href="#">Jeans</a></li>
              <li><a href="#">Long Underwear</a></li>
              <li><a href="#">Pajamas & Robes</a></li>
              <li><a href="#">Pants</a></li>
              <li><a href="#">Shorts</a></li>
              <li><a href="#">Skirts</a></li>
              <li><a href="#">Sweaters</a></li>
              <li><a href="#">Swimsuits</a></li>
              <li><a href="#">Tops</a></li>
              <li><a href="#">Yoga Pants</a></li>
              <li><a href="#"><strong>Womens Swimwear</strong></a></li>
            </ul>
            <ul>
              <li><strong><a href="#">Shop By Size Range</a></strong></li><hr>
              <li><a href="#">Regular</a></li>
              <li><a href="#">Petite</a></li>
              <li><a href="#">Tall</a></li>
              <li><a href="#">Plus Size</a></li>
              <li><a href="#">Petite Plus</a></li>
              <li><a href="#">Tall Plus</a></li>
              <li><a href="#"><strong>Plus Size Clothing</strong></a></li><hr>
              <li><a href="#">Plus Size Coats & Jackets</a></li>
              <li><a href="#">Plus Size Dresses</a></li>
              <li><a href="#">Plus Size Fleece</a></li>
              <li><a href="#">Plus Size Jeans</a></li>
              <li><a href="#">Plus Size Pajamas & Robes</a></li>
              <li><a href="#">Plus Size Pants</a></li>
              <li><a href="#">Plus Size Sweaters</a></li>
              <li><a href="#">Plus Size Swimsuits</a></li>
              <li><a href="#">Plus Size Tops</a></li>
              <li><a href="#">Plus Size Exclusive Styles</a></li>
            </ul>
            <ul>
              <li><strong><a href="#">Womens Shoes</a></strong></li><hr>
              <li><a href="#">Boots</a></li>
              <li><a href="#">Casual & Comfortable Shoes</a></li>
              <li><a href="#">Sandals</a></li>
              <li><a href="#">Slip-On Flats & Loafers</a></li>
              <li><a href="#">Slippers</a></li>
              <li><a href="#">Water Shoes</a></li>
              <li><a href="#"><strong>Womens Accesories</strong></a></li>
              <li><a href="#"><strong>Womens Bags</strong></a></li>
              <li><a href="#"><strong>Featured Shops</strong></a></li><hr>
              <li><a href="#">New Arrivals</a></li>
              <li><a href="#">The Starfish Collection</a></li>
              <li><a href="#">Tunic Shop</a></li>
              <li><a href="#">Womens Polo Shirts</a></li>
              <li class="red-list-item"><a href="#"><strong>Womens Sale</strong></a></li>


            </ul>
          </div>
        </li>
        <li>MEN</li>
        <li>KIDS</li>
        <li>SWIM</li>
        <li>BAGS</li>
        <li>OUTERWEAR</li>
        <li>SCHOOL</li>
        <li>HOME</li>
        <li>NEW</li>
        <li>SALE</li>
      </ul>
    </div>
  </div>
