
  <div class="top-header">
    <div class="top-left">
      <p>Stores</p>
      <p>Gift Cards</p>
      <p>Business Outfitters</p>
    </div>
    <div class="top-middle">
      <p>FREE SHIPPING ON $75+ ORDERS</p>
    </div>
    <div class="top-right">
      <p>Call or Text 1-800-963-4816</p>
      <p>SHIP TO (flag)</p>
      <p>HELP</p>
    </div>
  </div>
  <div class="main-header">
    <div class="main-top">
      <h1 class="logo">LANDS END</h1>
      <input class="input" type="text" name="" value="Find something new.">
      <div class="main-right">
        <div class="account">
          Hi, Sign in <br> MY ACCOUNT
        </div>
        <h2>BAG bag</h2>
      </div>
    </div>
    <div class="main-bottom">
      <h3 (mouseover)="hover()"><a href="#">WOMEN</a></h3>
      <h3><a href="#">MEN</a></h3>
      <h3><a href="#">KIDS</a></h3>
      <h3><a href="#">SWIM</a></h3>
      <h3><a href="#">BAGS</a></h3>
      <h3><a href="#">OUTWEWEAR</a></h3>
      <h3><a href="#">SCHOOL</a></h3>
      <h3><a href="#">HOME</a></h3>
      <h3><a href="#">NEW</a></h3>
      <h3><a href="#">SALE</a></h3>
    </div>
  </div>
