<div class="container">
  <div class="blue-one">
    <h2>Recieve 25% off full-priced styles!</h2>
    <h3>code: LILY pin: 2465 DETAILS</h3>
  </div>
  <div class="main">
    <h1>Great lengths make great shorts.</h1>
    <p>We give you four - plus a fit that wont quit.</p>
    <div class="main-buttons">
      <button type="button" name="button">SHOP WOMEN'S</button>
      <button type="button" name="button">SHOP MEN'S</button>
      <button type="button" name="button">SHOP GIRLS'</button>
      <button type="button" name="button">SHOP BOYS'</button>
    </div>
  </div>
  <div class="blue-two">
    <div class="blue-two-left">
      <h3>Sign me up for exclusive offers and news.</h3>
      <p>Privacy Policy & Contact Info</p>
    </div>
    <input type="text" name="" value="Enter your email">
  </div>
  <div class="best-sellers">
    <div class="best-header">
      <h2>BEST SELELRS</h2>
    </div>
    <div class="best-clothes">
      <img src="../assets/images/best-one.jpg" alt="">
      <p>Women's Relaxed Short Sleeve T-shirt Supima cotton V-neck</p>
      <p>$19.95</p>
    </div>
    <div class="best-clothes">
      <img src="../assets/images/best-two.jpg" alt="">
      <p>Women's Relaxed Short Sleeve T-shirt Supima cotton V-neck</p>
      <p>$19.95</p>
    </div>
    <div class="best-clothes">
      <img src="../assets/images/best-three.jpg" alt="">
      <p>Women's Relaxed Short Sleeve T-shirt Supima cotton V-neck</p>
      <p>$15.50</p>
    </div>
    <div class="best-clothes">
      <img src="../assets/images/best-four.jpg" alt="">
      <p>Women's Relaxed Short Sleeve T-shirt Supima cotton V-neck</p>
      <p>$15.50</p>
    </div>
    <div class="best-clothes">
      <img src="../assets/images/best-five.jpg" alt="">
      <p>Women's Relaxed Short Sleeve T-shirt Supima cotton V-neck</p>
      <p>$19.95</p>
    </div>
    <div class="best-clothes">
      <img src="../assets/images/best-six.jpg" alt="">
      <p>Women's Relaxed Short Sleeve T-shirt Supima cotton V-neck</p>
      <p>$19.50</p>
    </div>
  </div>
  <div class="boxes">
    <div class="box">
      <img src="../assets/images/box-one.jpg" alt="">
      <h2>We suit you best.</h2>
      <p>Beach Living lets you build your perfect swimsuit.</p>
    </div>
    <div class="box">
      <img src="../assets/images/box-two.jpg" alt="">
      <h2>We suit you best.</h2>
      <p>Beach Living lets you build your perfect swimsuit.</p>
    </div>
    <div class="box">
      <img src="../assets/images/box-three.jpg" alt="">
      <h2>We suit you best.</h2>
      <p>Beach Living lets you build your perfect swimsuit.</p>
    </div>
    <div class="box">
      <img src="../assets/images/box-four.jpg" alt="">
      <h2>We suit you best.</h2>
      <p>Beach Living lets you build your perfect swimsuit.</p>
    </div>
    <div class="box">
      <img src="../assets/images/box-five.jpg" alt="">
      <h2>We suit you best.</h2>
      <p>Beach Living lets you build your perfect swimsuit.</p>
    </div>
    <div class="box">
      <img src="../assets/images/box-six.jpg" alt="">
      <h2>We suit you best.</h2>
      <p>Beach Living lets you build your perfect swimsuit.</p>
    </div>
  </div>
</div>
