<div class="container">
  <div class="blue-one">
    <h2>Recieve 25% off full-priced styles!</h2>
    <h3>code: LILY pin: 2465 DETAILS</h3>
  </div>
  <div class="main">
    <h1>Great lengths make great shorts.</h1>
    <p>We give you four - plus a fit that wont quit.</p>
    <div class="main-buttons">
      <button type="button" name="button">SHOP WOMEN'S</button>
      <button type="button" name="button">SHOP MEN'S</button>
      <button type="button" name="button">SHOP GIRLS'</button>
      <button type="button" name="button">SHOP BOYS'</button>
    </div>
  </div>
  <div class="blue-two">
    <div class="blue-two-left">
      <h3>Sign me up for exclusive offers and news.</h3>
      <p>Privacy Policy & Contact Info</p>
    </div>
    <input type="text" name="" value="Enter your email">
  </div>
</div>
