<div class="container">
  <div class="blue-one">
    <h2>Recieve 25% off full-priced styles!</h2>
    <h3>code: LILY pin: 2465 DETAILS</h3>
  </div>
  <div class="main">
    <h1>Great lengths make great shorts.</h1>
    <p>We give you four - plus a fit that wont quit.</p>
    <div class="main-buttons">
      <button type="button" name="button">SHOP WOMEN'S</button>
      <button type="button" name="button">SHOP MEN'S</button>
      <button type="button" name="button">SHOP GIRLS'</button>
      <button type="button" name="button">SHOP BOYS'</button>
    </div>
  </div>
  <div class="blue-two">
    <div class="blue-two-left">
      <h3>Sign me up for exclusive offers and news.</h3>
      <p>Privacy Policy & Contact Info</p>
    </div>
    <input type="text" name="" value="Enter your email">
  </div>
  <div class="best-sellers">
    <div class="best-header">
      <h2>BEST SELELRS</h2>
    </div>
    <div class="best-clothes">
      <img src="../assets/images/best-one.jpg" alt="">
      <p>Women's Relaxed Short Sleeve T-shirt Supima cotton V-neck</p>
      <p>$19.95</p>
    </div>
    <div class="best-clothes">
      <img src="../assets/images/best-two.jpg" alt="">
      <p>Women's Relaxed Short Sleeve T-shirt Supima cotton V-neck</p>
      <p>$19.95</p>
    </div>
    <div class="best-clothes">
      <img src="../assets/images/best-three.jpg" alt="">
      <p>Women's Relaxed Short Sleeve T-shirt Supima cotton V-neck</p>
      <p>$15.50</p>
    </div>
    <div class="best-clothes">
      <img src="../assets/images/best-four.jpg" alt="">
      <p>Women's Relaxed Short Sleeve T-shirt Supima cotton V-neck</p>
      <p>$15.50</p>
    </div>
    <div class="best-clothes">
      <img src="../assets/images/best-five.jpg" alt="">
      <p>Women's Relaxed Short Sleeve T-shirt Supima cotton V-neck</p>
      <p>$19.95</p>
    </div>
    <div class="best-clothes">
      <img src="../assets/images/best-six.jpg" alt="">
      <p>Women's Relaxed Short Sleeve T-shirt Supima cotton V-neck</p>
      <p>$19.50</p>
    </div>
  </div>
  <div class="boxes">
    <div class="box">
      <img src="../assets/images/box-one.jpg" alt="">
      <h2>We suit you best.</h2>
      <p>Beach Living lets you build your perfect swimsuit.</p>
    </div>
    <div class="box">
      <img src="../assets/images/box-two.jpg" alt="">
      <h2>His short(s) story..</h2>
      <p>It's all about the Knockaout and our Comfort-First technology.</p>
    </div>
    <div class="box">
      <img src="../assets/images/box-three.jpg" alt="">
      <h2>Ready...set...play!</h2>
      <p>Get 'em out there quicker in shorts they can pull and go.</p>
    </div>
    <div class="box">
      <img src="../assets/images/box-four.jpg" alt="">
      <h2>Sholder any load.</h2>
      <p>Big or small, we have a canvas bag that's just right.</p>
    </div>
    <div class="box">
      <img src="../assets/images/box-five.jpg" alt="">
      <h2>A treat for your feet.</h2>
      <p>wedge sandals give your look a lift - and feel so comfortable.</p>
    </div>
    <div class="box">
      <img src="../assets/images/box-six.jpg" alt="">
      <h2>A softer way to dry.</h2>
      <p>Wrao up in a towel made of plush Supima cotton.</p>
    </div>
  </div>
  <div class="sale">
    <img src="../assets/images/sale.jpg" alt="">
  </div>
  <div class="best-sellers-two">
    <div class="best-clothes">
      <img src="../assets/images/best-seller-one.jpg" alt="">
      <p>Men's Supima Polo Shirt</p>
      <p>$19.97</p>
      <p>$39.95</p>
    </div>
    <div class="best-clothes">
      <img src="../assets/images/best-seller-two.jpg" alt="">
      <p>Women's Mid Rise Straight Leg Colorful Jeans</p>
      <p>$29.97</p>
      <p>$69.95</p>
    </div>
    <div class="best-clothes">
      <img src="../assets/images/best-seller-three.jpg" alt="">
      <p>Men's Traditional Fit Patter No Iron Supima Pinpoint Buttondown Collar Dress Shirt</p>
      <p>$25.97</p>
      <p>$54.95</p>
    </div>
    <div class="best-clothes">
      <img src="../assets/images/best-seller-four.jpg" alt="">
      <p>Men's Traditional Fit No Iron Twill Shirt</p>
      <p>$22.97</p>
      <p>$49.00</p>
    </div>
    <div class="best-clothes">
      <img src="../assets/images/best-seller-five.jpg" alt="">
      <p>Men's Short Sleeve Super-T</p>
      <p>$22.95</p>
    </div>
    <div class="best-clothes">
      <img src="../assets/images/best-seller-six.jpg" alt="">
      <p>Girls Fine Gauge Cardigan Sweater</p>
      <p>$9.99</p>
      <p>$29.95</p>
    </div>
  </div>
  <div class="cant-wait">
    <div class="cant-wait-header">
      <h2>We can't wait to see how  you wear it.</h2>
      <p>Share your photos with #MyLandsEnd</p>
    </div>
    <div class="cant-wait-carousel">

    </div>
  </div>
  <div class="bottom-text">
    <p class="small-text">Spring into spring: from vacation days to your day-to-days. We love a good getaway, don't we? However, all too often women's clothes you buy for your vacation don't work into your wardrobe once the vacation is over. Same happens for the kids' clothes, men's shirts and men's shorts we add to the suitcases. We'll show you how to avoid this trap. Follow these steps to turn your spring vacation clothes into your daily wardrobe upon your return home.</p>
    <p class="small-text">What to wear. Whether you’re looking for the slimming swimsuits or a comfortable sundress, women's clothing offers the widest range of options. Although, at this point you may feel as though you have tried on and put back the bulk of it in preparation for your upcoming trip. When your body walks that fine line between regular and plus size clothing, it can sometimes be tricky to know where to find the best fit. Start by taking your measurements. Then find the clothing that fit your size and style.</p>
    <p class="small-text">Beach-to-boardwalk lifestyle. There was a time when going to the beach meant a canvas tote each for two separate outfit changes and essentials. Thankfully, times have changed. For example, today's swim cover-ups double as dresses for easy beach to boardwalk or lunch to outside. No one needs to know you're wearing your favorite tankini top and swim bottoms under. Similarly, do you really need to pack a separate stack of shorts and t-shirts when a women’s rash guard and swim shorts works just as well? A swim tee keeps the sun's rays at bay. You can wear it anywhere under the sun.</p>
    <p class="small-text">Carry your swim goddess status back home. The women’s bathing suits you felt like a total goddess in while on your vacation doesn't have to hide back home. Even if you were rocking maximum exposure to work on your tan, you can swap out the bikini top for modest bathing suits, like a tankini, if you want a bit more coverage. An underwire one-piece swimsuit with a dramatic back is a sure bet, too. In it, you'll feel confident enough to shed the swimsuit cover up during vacation and comfortable enough to attend neighborhood pool parties back home.</p>
    <p class="small-text">Pack a great pair of jeans (or two). There's something absolutely magical about a good pair of women's jeans. This season pack a pair of high rise skinny jeans. Also available in plus size jeans, high rise skinny jeans work harder than any other style to flatter our bodies (especially at the waistline). Plus, the new colorful jeans in shades beyond blue feel instantly fresh, adding a modern twist to any outfit. This pair of jeans will seamlessly transition from vacation to home and back again. Add a little day-to-night drama with a pair of women's black jeans. This year-round favorite color is a must.</p>
    <p class="small-text">The dress that fits in anywhere. Aside from being your outfit-in-an-instant, women's knit dresses are so versatile. You can't go wrong with a fit and flare knit dress. Knee length or a maxi length knit dresses get first dibs in your suitcase, because you need a dress that fits just right and fits right in. Fit and flare dresses are beloved by all for the flattering silhouette their soft knit fabric creates. No other dress leaves you looking as effortlessly beautiful. Daywear, nightwear, vacation-wear or day-to-day, fit and flare dresses simply do not disappoint. Pack a lightweight cotton sweater in an easy neutral or pop of color and you're covered.</p>
    <p class="small-text">Pack plenty of knit pants, tunic shirts and a few key sweaters. What are vacations for if not relaxation? To unwind properly, take a day or two and skip the zippers. Women's elastic waist pants paired with a simple women's crew neck tee shirt and women's sweater invites relaxing sighs. If relaxation were ambitious enough to have its own uniform, it would certainly start with wide elastic waist knit pants and a Supima® cotton t-shirt.</p>
    <p class="small-text">Did we mention leggings and tunic tops? When you think casual vacation wear, think maximum comfort. The clothes you feel the best wearing, both in presentation and comfort, should make the cut. Don't over-think it. Stick with black leggings, tunic tops and cotton cardigans. You can wear them on the plane, at your destination and shuffle them right in your lineup upon your return home.</p>
    <p class="small-text">Get all the plus without the minus. The end goal of vacation swimsuits for women is to get us into the water. Plus size swimwear from Lands' End is built for you. From plus size bikini tops to plus size tankinis, you can chose your level of coverage and control, top to bottom. From swim skirts and swim shorts that skim your thighs to tummy control swimsuits for just a little extra shaping, you'll love your look. Plus size one piece swimsuits with all-over control are designed with placed patterns and ruching to accent your best assets. Our women's plus size clothes are designed to give you the fit and style you want.</p>
    <p class="small-text">Now let's talk trends. This season, It's all about height. From women's pants to women's swimsuits and everywhere in between, high waists and high necklines are winning us over again and again. High waisted bikinis flatter your figure by adding a bit of tummy control. High neck swimsuits (also available in high neck tankini tops) provide coverage, protection and a bit of modesty to your swim style. They also make your shoulders look amazing. Look for high-neck underwire tankini tops for a little extra support.</p>
    <p class="small-text">Time to refresh your t-shirts. Women's v-neck tee shirts may not be #1 on your list of must buys right now, but trust us, it's time. Last year's white t-shirts could use a refresh. Coral is the color of the season. Make it a part of yours with a women's crew tee shirt or women's v-neck t-shirt in a variety of styles. Spring's colorful t-shirts under your warm cotton sweaters are an easy transition from season to season.</p>
    <p class="small-text">A few swimsuit tops and swim bottoms equal endless possibilities. If you think of women's swimsuits the way you think of women's clothing, you know that wearing the same swimming suit day in and day out just won't do. Your two-piece swimsuit style requires more than one wear option. That's why tankinis are everyone's favorite. As tankini bathing suits go, if you need a vacation-to-home-again homerun, you'll never go wrong with mix-and-match blouson tankini tops and bikini bottoms.</p>
    <p class="small-text">Swimsuit separates for the kids. If you have a mini me, give her the chance to mix and match girls swimsuit styles, too. Tankini swimsuit tops in her favorite pattern paired back to the girl's swimsuit bottom of her choice lets her own style show. No worries, Mom. Our girls' swimsuit separates are made to mix and match.</p>
    <p class="small-text">Clothes for him: success in simplicity. While you're refreshing your women's cotton polo shirts, make sure you add a few men's polo shirts in for him. They're just as soft as the men's t-shirts he adores, but just a little more versatile. Add in a few men's dress shirts with a touch of stretch, but leave the ties at home. This is vacation, right? Add a few pairs of men's shorts, one pair of men's khaki pants and two swim trunks to his area of the suitcase and he's all set.</p>
    <p class="small-text">Popoular searches:</p>
    <p class="small-text">Cute Tankini Swimsuits | Active Swimwear | Cute Tankinis | Women's Casual Shirts | Cute Cotton Tops | Plus Size Clothing | Big & Tall Clothing | Women's Casual Clothing | Men's Casual Clothing</p>
  </div>
  <div class="sponsored">
    <h3>-Sponosred-</h3>
  </div>
  <div class="top-footer">
    <div class="customer-service">
      <p>CUSTOMER SERVICE</p>
      <hr>
      <ul>
        <li>Call or text us at 1-800-963-4816</li>
        <li>Live Chat</li>
        <li>Help Center</li>
        <li>Track My Order</li>
        <li>contact Us</li>
        <li>Shipping</li>
        <li>Returns</li>
        <li>Site Map</li>
        <li>Change Country/Currency</li>
      </ul>
    </div>
    <div class="company">
      <ul>
        <li>About US</li>
        <li>Careers</li>
        <li>Sustainabality</li>
        <li>Investor Relations</li>
        <li>Newsroom</li>
        <li>Land's End Business</li>
        <li>International Sites</li>
        <li>The Journal</li>
      </ul>
    </div>
    <div class="services">
      <ul>
        <li>Gift Cards</li>
        <li>Monogramming & Embroidery</li>
        <li>Shop Catalogs</li>
        <li>Catalog Requests</li>
        <li>Refer a Friend</li>
      </ul>
    </div>
    <div class="stores">
      <ul>
        <li>Find a complete list of retail store locations, departments and store hours.</li>
        <li>Lands' End</li>
        <li>Locate Your Store</li>
      </ul>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="bottom-footer-left">
      <p>Privacy Policy | Cookie Policy | Terms of Use | Recall & Safety Info | CA Transparency Act</p>
      <p>© 2019 LANDS' END | Sitemap | Index</p>
    </div>
    <div class="bottom-footer-right">
      <p>SUSTAINABLITY</p>
      <p>We're a proud partner of the National Forest Foundation. Learn More.</p>
    </div>
    <img src="../assets/images/national-forest.gif" alt="">
  </div>
</div>
